{% extends "./base.html" %}
{% block content %}
    <div class="auto-cols-auto">
        <div>
            <h3>Quick tool built in a few hours to cut down queries troubleshooting</h3>

            <h1>Paste "declare" statements here: </h1>
            <h2>Try to clean empty white lines and comments if possible (see below)</h2>
    
            <form action="{% url 'parse' %}" method="POST" name="homeform">
                {% csrf_token %}
                <textarea id="fulltext" name="fulltext" rows="14" class="block p-2.5 w-full 
                    text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 
                    focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Paste here...">
                </textarea>

                <br /><br />
                <input type="submit" value="Submit"
                    style="background-color:rgb(0, 217, 255);width: 200px;height: 
                    40px;cursor: pointer;"/>

            </form>
        </div>

        <div>
            <br /><br />
            <div rows="30" name="demotext" style="background-color: 
                black;color: white;padding: 16px;">
                <div>
                    <p>
                        Example of CLEANED code to paste in the left pane:<br />
                    </p>
                </div>
                
                <div>
                    <p>
                        <ul>
                            <li>declare observation_cd = f8 with Constant(uar_get_code_by_cki("CKI.CODEVALUE!17613")),protect</li>
                            <li>declare discharged_cd = f8 with Constant(uar_get_code_by_cki("CKI.CODEVALUE!17019")),protect;</li>
                        </ul>
                    </p>
                </div>
                
                <div>
                    <br />
                    <p>
                        How to clean the code:<br />
                        <ul>
                            <li>1- Remove empty white lines</li>
                            <li>2- Remove comments at the end of each line</li>
                            <li>3- Make sure that the DECLARE statement is on thesame line</li>
                        </ul>
                    </p>
                </div>

                <div>
                    <br />
                    <p>
                        DO NOT paste code with DECLARE on 2 different lines like so:
                        <br />
                        declare observation_cd
                        <br/>
                        = f8 with Constant(uar_get_code_by_cki("CKI.CODEVALUE!17613")),protect
                        <br /><br />
                        OR, with comment at the end, like the ";002" below
                        <br />
                        declare observation_cd = f8 with Constant(uar_get_code_by_cki("CKI.CODEVALUE!17613")),protect ;002
                    </p>
                </div
            </div>
        </div>

{% endblock content %}
