{% extends "./base.html" %}
{% block content %}
    <div class="auto-cols-auto">
        <div>
            <h2 class="underline italic">Instructions:</h2>
            <h2>1- Paste LIST in the grey box</h2>
            <h2>2- Click "NEXT"</h2>
            <br />
            <form action="{% url 'query' %}" method="POST" name="listcodeform">
                
                <!-- <textarea cols="100" rows="20" name="list_text" style="padding:0px;"></textarea>
                <input type="submit" value="NEXT" style="background-color:rgb(0, 217, 255)
                    ;width: 200px;height: 40px;cursor: pointer;"></input> -->
        
                <textarea id="list_text" name="list_text" rows="14" 
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 
                focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        
                <br /><br />
                <!-- <input type="submit" value="Next"
                    style="background-color:rgb(0, 217, 255);width: 200px;height: 
                    40px;cursor: pointer;"/> -->
                <div class="flex space-x-10">
                    <button type="submit" 
                        class="w-32 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Next
                    </button> 
                    <button type="submit" class="w-32 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        <a href="{% url 'home' %}" target="_self" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Start Over
                        </a>
                    </button>
                </div>                
            </form>
        </div>

        <br /><br />

        <div  rows="30" name="demotext" style="background-color:black;color: white;padding: 16px;">
            Example of a "list" code to paste in the left pane:<br/ ><br/ >

            1)declare observation_cd = f8 with Constant(uar_get_code_by_cki("CKI.CODEVALUE!17613")),protect go<br/ >
            1)call echo(observation_cd ) go<br/ >
            309312.000000<br/ >
            1)declare discharged_cd = f8 with Constant(uar_get_code_by_cki("CKI.CODEVALUE!17019")),protect  go<br/ >
            1)call echo(discharged_cd ) go<br/ >
            856.000000<br/ >
            1)
    
        </div>    
    </div>
{% endblock content%}
