<h1>Output:</h1>
<h2>Copy (ctrl + a), Paste in DVDev (ctrl + v), and run as query (ctrl + q)</h2>

<!-- <pre style="background-color: white;color: black;padding: 16px;border: black;border-width: 40px;border-color: black;display: inline-block;">{{ finalOutput }}</pre> -->

<!-- <pre style="height: 800px;white-space:pre-line;border: 1px solid black">{{ finalOutput }}</pre> -->

<textarea cols="100" rows="40" name="ouputtext" style="padding:0px;">{{ finalOutput }}</textarea>
    
<textarea cols="100" rows="38" name="outputtext" style="background-color: black;color: white;padding: 16px;">EXAMPLE:


select ta.*
from table ta 
where ta.value_code  in (observation_cd, discharged_cd)
</textarea>
<br />
<br />
<!-- <a href = "mailto:admin@querycodevalues.com?subject = Feedback&body = Message">Send Feedback</a> -->
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px; background-color:#ED2939">
                        <a href="mailto:moe@festpop.com?subject=code values tool" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Feedback or Suggestions             
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
