<h1>Copy the below text to DVDev, COMPILE, LIST, COPY the list output, then click "NEXT": </h1>

<form action="/listedcode/" method="POST">
    
    <input type="hidden" value="{{ newCodeValuesLinesDictionary }}" name="code" />
    
    <textarea cols="100" rows="40" name="ouputtext" style="padding:0px;">{{ newCodeValuesLinesDictionary }}</textarea>
    
    <!-- <pre style="background-color: black;color: white;padding: 16px;">{{ newCodeValuesLinesDictionary }}</pre> -->

    <br /><br />
    <button type="submit" style="background-color:rgb(0, 217, 255);width: 200px;height: 40px;cursor: pointer;">Next</button> 

</form>
<div style="color: red;font-weight: bold;">
    Disclaimer:<br />
    1- Website doesn't have a database and doesnt retain any of the code pasted.<br />
    2- Please follow you organization's guide lines when using an external website. 
</div>

