<h1>Paste Query Here:</h1>

<form action="{% url 'output' %}" method="POST" name="queryform">
    
    <textarea cols="100" rows="40" name="querytext" style="padding:0px;"></textarea>
    
    <textarea cols="100" rows="38" name="demoquerytext" style="background-color: black;color: white;padding: 16px;">Example of a query to paste in the left pane:


select ta.*
from table ta 
where ta.value_code  in (observation_cd, discharged_cd)
    </textarea>

    <br /><br />
    
    <input type="submit" value="NEXT" style="background-color:rgb(0, 217, 255);width: 200px;height: 40px;cursor: pointer;"></input>

</form>
<div style="color: red;font-weight: bold;">
    Disclaimer:<br />
    1- Website doesn't have a database and doesnt retain any of the code pasted.<br />
    2- Please follow you organization's guidelines when using an external website. 
</div>