{% extends "./base.html" %}
{% block content %}
    <div class="auto-cols-auto">
        <div>
            <h1>Paste Query Here:</h1>

            <form action="{% url 'output' %}" method="POST" name="queryform">
                {% csrf_token %}

                <textarea id="querytext" name="querytext" rows="14" class="block p-2.5 w-full 
                text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 
                focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Paste here..."></textarea>
                <br /><br />
                    
                <input type="submit" value="NEXT" style="background-color:rgb(0, 217, 255);width: 200px;height: 40px;cursor: pointer;"></input>

            </form>
        </div>
        <br /><br />
        <div rows="12" name="demotext" style="background-color:black;color: white;padding: 16px;">
            select ta.* <br />
            from table ta <br />
            where ta.value_code  in (observation_cd, discharged_cd)<br />
            with time = 30, format(date, ";;q")<br/ >
        </div>   
    </div>
{% endblock content %}